<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Home</title>
    <link rel="stylesheet" href="/output.css" />
  </head>
  <body
    class="bg-gray-100 min-h-screen flex items-center justify-center font-sans"
  >
    <div class="bg-white p-8 w-96 rounded-lg shadow-md text-center">
      <h1 class="text-gray-800 text-2xl font-semibold mb-6">
        Register your home
      </h1>
      <form action="/add-home" method="POST" class="flex flex-col gap-4">
        <input
          type="text"
          name="houseName"
          placeholder="Enter home name"
          required
          class="p-3 text-sm border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-green-500"
        />
        <button
          type="submit"
          class="bg-[#ff385c] text-white px-4 py-2 rounded-md text-sm transition-colors hover:bg-[#e03150]"
        >
          Add Home
        </button>
      </form>
    </div>
  </body>
</html>
